---
layout: project
---
-# layout for pages related to the blog
-# display menu on the left
-# handles title display

-# Project specific navigation menu
.row-fluid
  -# Menu
  .span2
    .project-menu
      .text-center.project-menu-title
        %a{:href => '/', :class => 'icon-stack'}
          %i.icon-circle.icon-stack-base.icon-fixed-width
          %i{:class => "icon icon-light icon-fixed-width icon-quote-right"}
          /icon-rss icon-signal
      %ul.nav.nav-list
        -# removes index.html and then replace download.html to download/
        - current_path = page.output_path.sub(/index\.html$/, "").sub(/\.html$/,"/")

        - href = "/"
        - active = false
        %li{:class => "#{(active ? "active" : "")}"}
          %a{:href => "#{relative("#{href}")}"}
            %i{:class => "icon-home menu-icon"}
            Home
        
        - href = "/blog.atom"
        - active = false
        %li{:class => "#{(active ? "active" : "")}"}
          %a{:href => "#{relative("#{href}")}"}
            %i{:class => "icon-rss menu-icon"}
            Feed
      %hr.divider
      .cloud-tags
        %h2 Tags
        = site.posts_tags_cloud
      %hr.divider
      .cloud-authors
        %h2 Authors
        = site.posts_author_cloud

  .span10
    -# Title
    = partial( page.title_partial.nil? ? 'project/title.html.haml' : page.title_partial, {"real_page" => page} )
    ~ content
