---
---

- css_class = "#{page.split_property}"
%div{:class=>"#{page.split_property}-cloud"}
  - split_value = page.send( "#{page.split_property}" )
  - for split in split_value
    -# relying on primary_page.output_path instead of url which is for our purposes identical - see WEBSITE-318
    %span{:class=>"#{page.split_property} #{page.split_property}-#{split.group}"}
      %a{:href=>site.base_url + split.primary_page.output_path}= split
