---
layout: in-relation-to
---
-# template for tag pages

// find the tag name based on the page output path and the tag url
- identifier = page.output_path.split("/")[-2].to_s
- if not page.posts.nil?
  - post = page.posts[0]
  - for tag in post.tags
    - tag_identifier = tag.primary_page.url.split("/")[-1].to_s
    - if tag_identifier == identifier
      - page_tag = tag

.row-fluid
  -# Menu
  .span2
    .project-menu
      = partial( 'blog/home-menu.html.haml' )

      %hr.divider
      .cloud-tags
        %h2 Tags
        = site.posts_tags_cloud

      = partial( 'blog/blogger_list.html.haml' )

  .span10
    -# Title
    = partial( page.title_partial.nil? ? 'blog/title.html.haml' : page.title_partial, {"real_page" => page} )
    - if not page.posts.nil?
      - for post in page.posts
        .blogpost
          = partial( 'blog/post.html.haml', {"post" => post} )
      = page.posts.bootstrap_links
