- real_page = page["real_page"]
.ui.inverted.vertical.footer.segment.print.hidden
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        %h4.ui.inverted.header Projects
        .ui.inverted.link.list
          %a.item{:href => "#{site.hibernate_org.base_url}orm/", :title => "Hibernate ORM"} Hibernate ORM
          %a.item{:href => "#{site.hibernate_org.base_url}search/", :title => "Hibernate Search"} Hibernate Search
          %a.item{:href => "#{site.hibernate_org.base_url}validator/", :title => "Hibernate Validator"} Hibernate Validator
          %a.item{:href => "#{site.hibernate_org.base_url}ogm/", :title => "Hibernate OGM"} Hibernate OGM
          %a.item{:href => "#{site.hibernate_org.base_url}tools/", :title => "Hibernate Tools"} Hibernate Tools
          %a.item{:href => "#{site.hibernate_org.base_url}others/", :title => "Other projects"} Other projects
      .three.wide.column
        %h4.ui.inverted.header Follow us
        .ui.inverted.link.list
          %a.item{:href => "#{site.base_url}", :title => "Blog"} Blog
          %a.item{:href => "#{site.twitter.base_url}", :title => "Twitter"} Twitter
          %a.item{:href => "#{site.google_plus.base_url}", :title => "Google+"} Google+
      .five.wide.column
        %h4.ui.inverted.header Contribute and community
        .ui.inverted.link.list
          %a.item{:href => "#{site.hibernate_org.base_url}/community/", :title => "Community resources"} Community resources
          %a.item{:href => "#{site.github.organization_url}"} Our GitHub organization
          %a.item{:href => "#{site.jira.base_url}", :title => "Submit a bug"} Submit a bug
          %a.item{:href => "#{site.forum.base_url}", :title => "Submit a bug"} Our forums
          %a.item{:href => "https://access.redhat.com/security/team/contact/", :title => "Report a security issue"} Report a security issue
      .five.wide.column.sponsor
        .logo
          %a(href="https://www.redhat.com/")
            %img{:src => "/images/sponsored-by-redhat.svg", :title => "Red Hat"}
        -#.logo
          %a(href="https://developers.redhat.com/")
            %img{:src => "/images/redhat-developers.png", :title => "Red Hat Developers", :width => 216, :height => 48}
 
