- real_page = page["real_page"]
.ui.container.banner
  .logo
    %a(href='/')
      %img{:src => "/images/hibernate-logo.svg", :alt => 'Hibernate', :width => 200, :height => 53}
  .clearfix

  .ui.stackable.menu.mobile.hidden.print.hidden#nav
    %a.item{:href => "#{site.hibernate_org.base_url}orm/"} ORM
    %a.item{:href => "#{site.hibernate_org.base_url}search/"} Search
    %a.item{:href => "#{site.hibernate_org.base_url}validator/"} Validator
    - if real_page.project == 'ogm'
      %a.item{:href => "#{site.hibernate_org.base_url}ogm/"} OGM
    %a.item{:href => "#{site.hibernate_org.base_url}reactive/"} Reactive
    %a.item{:href => "#{site.hibernate_org.base_url}tools/"} Tools
    %a.item{:href => "#{site.hibernate_org.base_url}others/"} Others
    .right.menu
      %a.item.active(href="#{site.base_url}") Blog
      %a.item(href="#{site.forum.base_url}") Forums
      %a.item{:href => "#{site.hibernate_org.base_url}community/"} Community
      %a.item(href="#{site.twitter.base_url}")
        %i.twitter.icon
        Follow us      

