- real_page = page['real_page']

.ui.vertical.inverted.sidebar.left#mobile-menu
  .ui.vertical.fluid.inverted.text.menu
    %a.item{:href => "#{site.hibernate_org.base_url}orm/"}
      %i.grid.icon.database
      ORM
    %a.item{:href => "#{site.hibernate_org.base_url}search/"}
      %i.grid.icon.search
      Search
    %a.item{:href => "#{site.hibernate_org.base_url}validator/"}
      %i.grid.icon.checkmark.box
      Validator
    %a.item{:href => "#{site.hibernate_org.base_url}ogm/"}
      %i.grid.icon.sitemap
      OGM
    %a.item{:href => "#{site.hibernate_org.base_url}tools/"}
      %i.grid.icon.wrench
      Tools
    %a.item{:href => "#{site.hibernate_org.base_url}reactive/"}
      %i.grid.icon.retweet
      Reactive
    %a.item(href="#{site.hibernate_org.base_url}others/")
      Others
    %a.active.item(href="#{site.base_url}")
      Blog
    %a.item(href="#{site.forum.base_url}")
      Forums
    %a.item(href="#{site.twitter.base_url}")
      %i.icon.twitter
      Follow us
