---
layout: base
title: Bloggers
---

.ui.container.fluid
  .jumbotron.small
    .ui.container
      %h1
        %span In Relation To
      %h2
        %span Bloggers

.ui.container.page-content
  .ui.stackable.grid
    .ui.three.wide.column
      = partial( 'blog/left-column.html.haml', {'real_page' => page} )

    .ui.thirteen.wide.column
      .content#content
        %h2 Active bloggers

        - # Sort by level first (putting 0 at the end), then by name
        .ui.three.column.grid
          - for blogger in site.people.values.select{|s| !s.active.nil? && s.active}.sort{|blogger1, blogger2| level1 = blogger1.level == 0 ? 10000 : blogger1.level; level2 = blogger2.level == 0 ? 10000 : blogger2.level; res = level1 <=> level2; res != 0 ? res : blogger1.name <=> blogger2.name}
            - if !site.posts_author.nil?
              - post_author = site.posts_author.detect{|author| author.to_s == blogger.name}
              .column
                .ui.card
                  .image
                    - if not post_author.nil?
                      %a{:href=>post_author.primary_page.url}
                        %img.author-image{:src=>"https://www.gravatar.com/avatar/#{blogger.gravatar_hash}?s=300"}
                    - else
                      %img.author-image{:src=>"https://www.gravatar.com/avatar/#{blogger.gravatar_hash}?s=300"}
                  .content
                    .header
                      - if not post_author.nil?
                        %a{:href=>post_author.primary_page.url}
                          = blogger.name
                      - else
                        = blogger.name
                    .description
                      = blogger.content
                  - if !blogger.twitter.nil? || !blogger.website.nil?
                    .extra.content
                      - if !blogger.twitter.nil?
                        %a.right.floated(href="#{blogger.twitter}")
                          %i.icon.twitter
                          Twitter
                      - if !blogger.website.nil?
                        %a(href="#{blogger.website}")
                          %i.icon.world
                          Website

        %h2 Retired bloggers

        - # Sort by level first (putting 0 at the end), then by name
        .ui.three.column.grid
          - for blogger in site.people.values.select{|s| s.active.nil? || !s.active}.sort{|blogger1, blogger2| level1 = blogger1.level == 0 ? 10000 : blogger1.level; level2 = blogger2.level == 0 ? 10000 : blogger2.level; res = level1 <=> level2; res != 0 ? res : blogger1.name <=> blogger2.name}
            - if !site.posts_author.nil?
              - post_author = site.posts_author.detect{|author| author.to_s == blogger.name}
              .column
                .ui.card
                  .image
                    - if not post_author.nil?
                      %a{:href=>post_author.primary_page.url}
                        %img.author-image{:src=>"https://www.gravatar.com/avatar/#{blogger.gravatar_hash}?s=300"}
                    - else
                      %img.author-image{:src=>"https://www.gravatar.com/avatar/#{blogger.gravatar_hash}?s=300"}
                  .content
                    .header
                      - if not post_author.nil?
                        %a{:href=>post_author.primary_page.url}
                          = blogger.name
                      - else
                        = blogger.name
                    .description
                      = blogger.content
                  - if !blogger.twitter.nil? || !blogger.website.nil?
                    .extra.content
                      - if !blogger.twitter.nil?
                        %a.right.floated(href="#{blogger.twitter}")
                          %i.icon.twitter
                          Twitter
                      - if !blogger.website.nil?
                        %a(href="#{blogger.website}")
                          %i.icon.world
                          Website
