---
layout: project
---
-# layout for pages related to the blog
-# display menu on the left
-# handles title display

- if not page.posts.nil?
  - member = site.people.values.detect{|member| member.name == page.posts[0].author[0].to_s}
  - sanitized_member = page.posts[0].author[0].primary_page.url.split("/")[-1].to_s

-# Project specific navigation menu
.row-fluid
  -# Menu
  .span2
    .project-menu
      .text-center.project-menu-title
        %a{:href => '/', :class => 'icon-stack'}
          %i.icon-circle.icon-stack-base.icon-fixed-width
          %i{:class => "icon icon-light icon-fixed-width icon-quote-right"}
          /icon-rss icon-signal
      %ul.nav.nav-list
        -# removes index.html and then replace download.html to download/
        - current_path = page.output_path.sub(/index\.html$/, "").sub(/\.html$/,"/")

        - href = "/"
        - active = false
        %li{:class => "#{(active ? "active" : "")}"}
          %a{:href => "#{relative("#{href}")}"}
            %i{:class => "icon-home menu-icon"}
            Home
      %hr.divider
      .bio
      - if member
        .expandable
          %h2 Bio
          #{member.content}
        
  .span10
    -# Title
    = partial( page.title_partial.nil? ? 'project/title.html.haml' : page.title_partial, {"real_page" => page} )
    %h1
      In relation to 
      -if member
        = member.name
    - if not page.posts.nil?
      - member = site.people.values.detect{|member| member.name == page.posts[0].author[0].to_s}
      - for post in page.posts
        .blogpost
          %h2
            %a{:href=>post.url}= post.title
          .blogtagbar
            - post.author.each do |author|
              %a{:href=>author.primary_page.url}
                = author
              &nbsp;
            |&nbsp;
            #{post.date.strftime( '%Y-%m-%d' )}
            &nbsp;|&nbsp;
            - post.tags.each do |tag|
              %a.label{:href=>tag.primary_page.url}
                = tag
              &nbsp;
          %p
            ~ post.content.force_encoding("UTF-8")
          %hr
      = page.posts.links
