---
layout: project
---
-# layout for pages related to the blog
-# display menu on the left
-# handles title display

- if not page.posts.nil?
  - member = site.people.values.detect{|member| member.name == page.posts[0].author[0].to_s}
  - sanitized_member = page.posts[0].author[0].primary_page.url.split("/")[-1].to_s

  - post_authors = site.posts_author.select { |post_author|
  -   author = site.people.values.detect{|author| author.name == post_author.to_s}
  -   !author.level.nil? && author.level.to_i < 10
  - }

.row-fluid
  -# Menu
  .span2
    .project-menu
      = partial( 'project/blog/home-menu.html.haml' )

      - if member && member.content && !member.content.empty?
        %hr.divider
        .bio
        .expandable
          %h2 Bio
          - if member.gravatar_hash
            .author-image-container
              .author-image
                %img.author-image{:src=>"https://www.gravatar.com/avatar/#{member.gravatar_hash}?s=150", :height=>150, :width=>150}

          #{member.content}

      %hr.divider
      .cloud-tags
        %h2 Tags
        = site.posts_tags_cloud

      = partial( 'project/blog/blogger_list.html.haml' )

  .span10
    -# Title
    = partial( page.title_partial.nil? ? 'project/title.html.haml' : page.title_partial, {"real_page" => page} )
    - if not page.posts.nil?
      -# Look for the author in _data/people/
      - member = site.people.values.detect{|person| person.name == page.posts[0].author[0].to_s}
      -# If the author does not have a bio, use the name in the first blog post
      - if member.nil?
        - member = page.posts[0].author[0].to_s
      - for post in page.posts
        .blogpost
          = partial( 'project/blog/post.html.haml', {"post" => post, "show_author_image" => false } )
      = page.posts.bootstrap_links
