---
layout: base
title: In Relation To
---

.jumbotron.small
  .ui.container
    %h1
      %a(href='/')
        %span= page.title
    - if page.subtitle
      %h2
        %span= page.subtitle

.ui.container.page-content
  .ui.stackable.grid
    .ui.three.wide.column.mobile.hidden
      = partial( 'blog/left-column.html.haml', {'real_page' => page} )

    .ui.column.sixteen.wide.mobile.thirteen.wide.tablet.thirteen.wide.computer
      .content#content
        ~ content
        - for post in page.posts
          .blogpost{:itemprop=>"blogPost", :itemscope => "", :itemtype => "https://schema.org/BlogPosting", :itemref=>"logobar"}
            = partial( 'blog/post.html.haml', {"post" => post} )
        = page.posts.semantic_ui_pager_links
