---
layout: in-relation-to
title_partial: blog/title-post.html.haml
---
-# layout for indidvidual blog posts

.row-fluid
  .span2
    .project-menu
      = partial( 'blog/home-menu.html.haml' )

    %hr.divider
    .cloud-tags
      %h2 Tags
      = site.posts_tags_cloud

    = partial( 'blog/blogger_list.html.haml' )

  .span10
    .blogpost
      = partial( 'blog/post.html.haml', {"post" => page} )
      = partial( 'disqus-javascripts.html.haml', {"post" => page} )
