---
layout: base
---
-# layout for individual blog posts

.jumbotron.small
  .ui.container.grid.stackable
    .ten.wide.column
      %h1
        %a(href='/')
          %span In Relation To
    .six.wide.column.text-right.middle.aligned
      %a.ui.icon.labeled.button.small.icon(href='/')
        %i.icon.reply
        Back to home
          

.page-title.blog-title
  .ui.container
    = partial( 'blog/post-title.html.haml', {"post" => page} )

- if page.project == 'search'
  .project-reminder
    .ui.container
      = partial( "project/#{page.project}/project-reminder.html.haml" )

.ui.container.blog-article
  .content#content
    = partial( 'blog/post-content.html.haml', {"post" => page} )

    %hr

    .print.hidden#disqus_thread
    %script{:src=>javascript, :type=>'text/javascript'}
      var disqus_shortname = '#{site.disqus_shortname}';
      var disqus_identifier = '#{page.creation_date}-#{page.slug}';
      var disqus_title = '#{page.title}';
      var disqus_url = '#{page.disqus_thread_id}';

      (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();

    %noscript
      Please enable JavaScript to view the
      %a{:href=>'https://disqus.com/?ref_noscriptr', :rel=>'nofollow'}
        comments powered by Disqus.
